{% extends 'base.html' %}

{% block title %}プロフィール | Cantavivo{% endblock %}

{% block content %}
<section class="px-6 py-24 bg-[#fdfbf7] text-gray-800">
  <div class="max-w-6xl mx-auto">
    <div class="bg-white border border-gray-200 rounded-2xl shadow-md p-6 flex flex-col md:flex-row gap-8">
      <div class="md:w-1/3 flex justify-center items-start">
        <img src="/static/IMG_0120.JPG" alt="プロフィール画像" class="rounded-xl shadow-md w-48 md:w-64 h-auto object-cover">
      </div>
      <div class="md:w-2/3">
        <h1 class="text-2xl font-serif font-bold mb-4 tracking-wide">Tsuyoshi Iida / 飯田 毅</h1>
        <div class="space-y-6 text-gray-800 leading-relaxed">
          <p>埼玉県出身。埼玉県立松伏高等学校音楽科ピアノ専攻を卒業後、上野学園大学同短期大学部音楽学科ピアノ専攻を特待生として卒業、同大学の卒業演奏会に出演。ピアノの実績として、草加市演奏家協会クラシックジュニアコンクール2位、ちばピアノコンクール入選、ミリオンピアノコンクール全店大会で優秀賞を受賞している。また、ピアニスト兼合唱指導者としても、NHK全国学校音楽コンクール全国大会で銅賞、全日本合唱コンクール全国大会で金賞、全日本おかあさんコンクール全国大会でひまわり賞を受賞するなど、数々のコンクールで優秀な成績を収め、メディアにも多数出演。現在はテノール歌手としても活動し、第4回グランディール音楽コンクール全国大会にて金賞（1位）及び株式会社ルミエール賞を受賞、第59回及川音楽事務所新人オーディション最優秀新人賞を受賞。ピアノを斎藤光代、橋場多恵子、藤井孝子の各氏に、声楽を後田翔平氏に師事。</p>

          <h3 class="text-xl md:text-2xl font-semibold mb-3 md:mb-6 border-b pb-2">レパートリー</h3>

          <div class="mb-6 md:mb-10">
            <h4 class="text-lg md:text-xl font-semibold mb-2">歌曲</h4>
            <ul class="list-disc pl-6 space-y-1">
              <li>F.P.トスティ：アマランタの4つの歌、最後の歌、セレナータ</li>
              <li>V.ベッリーニ：3つのアリエッタ</li>
              <li>ビクシオ：マリウ愛の言葉を</li>
              <li>ガスタルドン：禁じられた歌</li>
              <li>その他</li>
            </ul>
          </div>

          <div>
            <h4 class="text-lg md:text-xl font-semibold mb-2">オペラ</h4>
            <ul class="list-disc pl-6 space-y-1">
              <li>ヴェルディ：椿姫（アルフレード）</li>
              <li>プッチーニ：ラ・ボエーム（ロドルフォ）／冷たき手を、本当におしまいなのだね！</li>
              <li>トスカ（カヴァラドッシ）／妙なる調和、星は光ぬ</li>
              <li>蝶々夫人（ピンカートン）／さらば、愛の家</li>
              <li>マノン・レスコー（デ・グリュー）／こんな美女を見たことがない</li>
              <li>トゥーランドット（カラフ）／誰も寝てはならぬ</li>
              <li>ドニゼッティ：ランメルモールのルチア（エドガルド）／そよ風に乗って、熱い吐息が</li>
              <li>愛の妙薬（ネモリーノ）／ラララ〜トラントラン</li>
              <li>モーツァルト：コシ・ファン・トゥッテ（フェルランド）／もうすぐ腕に抱かれ</li>
              <li>レオンカヴァッロ：道化師／衣装をつけろ</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
