<script>
  // ハンバーガーメニューの開閉
  const toggleButton = document.getElementById('menu-toggle');
  const menu = document.getElementById('menu');
  toggleButton?.addEventListener('click', () => {
    menu?.classList.toggle('hidden');
    menu?.classList.toggle('flex');
  });

  // フェードイン効果の適用
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("show");
        } else {
          entry.target.classList.remove("show");
        }
      });
    });

    document.querySelectorAll('.fade-in-on-scroll').forEach(el => {
      observer.observe(el);
    });
  });
</script>
